<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319507211734-8kgv4euvqjbojobaahpo48ie3ve5csgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319507211734-8kgv4euvqjbojobaahpo48ie3ve5csgo</string>
	<key>API_KEY</key>
	<string>AIzaSyD308SgFGcu7J19MwW8U832CzWTEfBjMk8</string>
	<key>GCM_SENDER_ID</key>
	<string>319507211734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.patrickfcf.dividending</string>
	<key>PROJECT_ID</key>
	<string>dividending-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>dividending-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319507211734:ios:d7d6c3557b9ce3e14cf077</string>
</dict>
</plist>